# Object/build artefacts
*.d
*.o
*.so
*.dll
*.dylib
*.lo
*.slo
*.gch
*.pch
*.lib
*.a
*.la
*.lai
*.exe
*.out
*.app
*.mod
*.smod

# R package build output
*.Rcheck/
*.tar.gz
src/*.o
src/*.so
src/*.dll
src/symbols.rds

# Editors / IDEs
.Rproj.user/
.Rhistory
.RData
.Ruserdata
